body {
	color: #34495E;
	
}

body,
.todoAddTable,
.todoAddTable input {
	font-size: 14px;
}

.todoAddTable input[type="button"]{
	background-color: rgba(127, 140, 141, 0.7);
	padding: 4px 12px;
	border: none;
	color: #ffffff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
}

.todoAddTable input[type="button"]:active {
	background-color: rgba(127, 140, 141, 0.5);
}

.todoAddTextBox {
	padding: 5px;
	border: 1px solid rgba(127, 140, 141,0.3);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
}

.todoItemOdd {
	background-color: rgba(127, 140, 141,0.15);
}

.todoText {
	display: inline-block;
	padding: 5px;
}

.todoPriority {
	padding: 5px;
}

.todoCheck {
	margin: 5px;
}

.todoDelete {
	margin: 4px 5px 5px 5px
}